@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes slide {
  0% { transform: translateX(100%); opacity: 0; }
  20% { transform: translateX(0); opacity: 1; }
  80% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(-100%); opacity: 0; }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
}

.cd-words-wrapper b {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #000; /* effet curseur */
  opacity: 0;
}

.cd-words-wrapper b.is-visible {
  opacity: 1;
  animation: typing 2s steps(20, end), slide 3s ease-in-out forwards;
}
